# dependencies
node_modules

# next
.next
out

# production
build

# local env
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# generated
tsconfig.tsbuildinfo
.DS_Store
